<div class="container">
    <p>
        NIKE
    </p>
    <span class="nike-img">
        <img  src="assets/nike.png">
    </span>
    <span class="men">
        Men
    </span>
    <span class="women">
        Women
    </span>
    <span class="kids">
        Kids
    </span>
    <span class="customise">
        Customise
    </span>
    <button mat-button>
        <mat-icon>search</mat-icon>
        <span class="search">Search</span>
    </button>
    <span >
        <mat-icon class="cart">shopping_cart</mat-icon>
    </span>
    <p class="just">
        JUST
    </p>
    <p class="do">
        DO
    </p>
    <p class="it">
        IT
    </p>
    <p class="text">
        Innovated to withstand your toughest 
        <br>
        matches, this updated design puts flexible,
     <br> durable materials exactly where they're <br>needed most. 

    </p>
    <div class="rectangle">
        <div class="rectangle-text">
         NikeCourt Zoom
         <br> Vapor Cage 4 Rafa
        </div>
        
    </div>
    <span class="shoe">
        <img src="assets/shoe.png">
    </span>
    <div >
        <button class="btn" mat-button>
            <span class="shop-now">
                SHOP NOW
            </span>
        </button>
    </div>
    <div class="first">
        <img class="img2" src="assets/shoe2.png">
    </div>
    <div class="second">
        <img class="img3" src="assets/shoe3.png">
    </div>
    <div class="third">
        <img class="img4" src="assets/shoe.png">
    </div>
    <p class="txt">
        rafa-hard-court
    </p>
    <p class="txt-new">
        pro-hard-court
    </p>
    <p class="new-txt">
        Vapor Cage 4 Rafa
    </p>
    <p class="designedBy">
        Designed By Nanda
    </p>
    </div>

